body {
    margin: 0;
    overflow: hidden;
}

.cashout-container {
    height: 100vh;
    background-color: #fff;
    margin: 0 auto;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.cashout-header {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 10px 20px;
    color: #fff;
    background: linear-gradient(180deg, #00aae6, #0084e6);
}

.cashout-ic-back img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.cashout-header .cashout-title {
    flex-grow: 1;
    font-size: 20px;
    text-align: center;
}

.cashout-input {
    width: 85%;
    margin: 16px auto 0 auto;
}

.cashout-input .form-group {
    margin-bottom: 20px;
}

.cashout-input label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.cashout-input input,
.cashout-input select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: transparent;
    color: #000;
    box-sizing: border-box;
}


.cashout-input small {
    color: #e94951;
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
    display: block;
}

.cashout-input .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.cashout-input .cashout-captcha-group {
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    align-items: center;
    border-radius: 5px;
}

.cashout-captcha-input {
    flex: 1;
}

.cashout-captcha-input input {
    border: none;
    outline: none;
}

.cashout-captcha-display {
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #7ff;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    position: relative;

}

.cashout-captcha-char {
    font-size: 20px;
}

.refresh-button {
    background-color: transparent;
    border: none;
    color: #67e3f9;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.2s;
}

.update-button {
    padding: 10px 20px;
    background: linear-gradient(180deg, #00aae6, #0084e6);
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}


@media screen and (min-width: 450px) {
    body {
        margin: 0 auto;
        width: 450px;
        background-color: gray;
    }
}