.header1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: white;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  max-width: calc(100% - 5px);
  height: 36px;
}

.logo-text {
  font-size: 20px;
  color: #007bff;
  font-weight: bold;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease;
}

.btn-register {
  background-color: #00a0ff;
}

.btn-register:hover {
  background-color: #007acc;
}

.btn-login {
  background-color: #007bff;
}

.btn-login:hover {
  background-color: #0056b3;
}

.flag-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.headerdn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.rankname,
.chatxu {
  display: flex;
  align-items: center;
  gap: 5px;
}
.rankname img {
  height: 30px;
}
.chatxu span {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
.chatxu img {
  height: 30px;
}

@media screen and (min-width: 450px) {
  .header1 {
    width: 390px;
    left: unset;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
