body {
  margin: 0;
  height: auto;
}

.container {
  height: 100vh;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: white;
}

.notification-container{
  z-index: 10000;
  display: flex;
  justify-content: center;
}
.notification {
  position: fixed;
  top: 10px;
  background-color: #e6f7ff;
  color: #1890ff;
  padding: 10px 20px;
  border: 1px solid #91d5ff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  font-size: 14px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}


.notification.show {
  opacity: 1;
  transform: translateY(0);
}

.notification.hidden {
  display: none;
}
.header-qr {
  position: fixed;
  width: 100%;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.125rem;
  position: relative;
  padding: 0 0.9375rem;
  background: white;
  color: #00abe5;
}

.divimgback {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divimgback img {
  height: 2rem;
  width: 2rem;
}

.divtttd {
  position: absolute;
  left: 1.9375rem;
  right: 1.9375rem;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.maqr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.maqr h4 {
  margin: 2px;
}
.maqr img {
  width: 300px;
  height: 300px;
}
.uniform p img {
  width: 20px;
  height: 20px;
}
.uniform {
  padding-left: 10px;
  padding-right: 10px;
}
.uniform p {
  display: flex;
  align-items: center;
  gap: 5px;
  overflow: hidden;
  flex-wrap: wrap;
}
.demnguoc {
  color: black !important;
}
.body-qr {
  margin-top: 50px;
}

@media screen and (min-width: 450px) {
  body {
    width: 450px;
    margin: 0 auto;
    background-color: gray;
  }
  .header-qr {
    width: 450px;
  }
}
