body {
  margin: 0;
  overflow: hidden;
  height: auto;
}
.container{
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.carousel {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  margin-top: 60px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  text-align: center;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-control {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1000;
  opacity: 0.6;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

.carousel-control:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.wallet {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  left: 0;
}

/* home globby */
.home-globby {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
  height: auto;
}

.categories {
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;
  padding: 5px 5px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #00abe5;
  font-size: 12px;
  width: 100%;
}
.category img {
  width: 24px;
  height: 24px;
}

.category.active {
  background-color: #00abe5;
  color: white;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 350px;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
  width: 100%;
   scrollbar-width: none;
  -ms-overflow-style: none;

}

.item {
  border-radius: 10px;
  height: auto;
  padding: 0;
  transition: all 0.3s ease;
  max-width: calc(33.33% - 10px);
  box-sizing: border-box;
}

.item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.footer {
  margin-bottom: 70px;
  padding-bottom: 65px;
  padding: 5px;
}

.imgfooter {
  width: 100%;
  height: auto;
}
.divthuonghieu {
  color: #00abe5;
}
.endorser-item {
  align-items: center;
  display: flex;
  font-size: 4vw;
  justify-content: space-between;
}

.endorser-item img {
  width: 25vw;
}

.footer-license {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4vw;
}

.footer-title {
  font-size: 4vw;
  margin-bottom: 2.5vw;
  text-transform: capitalize;
  white-space: nowrap;
}

.license-list img {
  height: 12vw;
}

.sns-list {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.sns-list a img {
  height: 7vw;
}

.footer-des {
  box-sizing: border-box;
  text-align: justify;
  color: #3caae2;
  font-size: 3vw;
  line-height: 1.2;
}

@media screen and (min-width: 450px) {
  body {
    margin: 0 auto;
    width: 450px;
    background-color: gray;
  }
  .endorser-item,
  .footer-title,
  .footer-des {
    font-size: 15px;
  }
  .endorser-item img {
    width: 100px;
  }
  .license-list img {
    height: 50px;
  }
  .sns-list a img {
    height: 40px;
  }

  .body,
  .footer {
    background-color: white;
  }
  .footer {
    margin-bottom: 65px;
  padding-bottom: 65px;

  }
  .marquee-container {
    width: unset !important;
  }
  .carousel {
    margin-top: 40px;
    background-color: white;
  }
  .footer-license {
    margin-bottom: 20px;
  }
}
